Thumbs.db
.*.swp
.DS_Store
._*
*.log
*.orig

package-lock.json

/dev.env

/node_modules/

/dist/backend
/dist/frontend
/dist/.git
/dist/package.json
!/dist/deploy.sh
!/dist/deploy-EXAMPLE.env
!/dist/.gitignore

/.nyc_output/
/tests/frontend/coverage/
/tests/backend/coverage/