Thumbs.db
.*.swp
.DS_Store
._*
*.log
*.orig

package-lock.json

/dev.env

/node_modules/

/deploy/backend
/deploy/frontend
/deploy/.git
/deploy/package.json
!/deploy/deploy.sh
!/deploy/deploy-EXAMPLE.env
!/deploy/.gitignore

/.nyc_output/
/frontend_tests/coverage/
/backend_tests/coverage/